nav {
  background-color: #333;
}

.nav-content{
  display: flex;
  justify-content: space-between; /* Aligns items on opposite ends */
  align-items: center;
}
.nav-left{
  display: flex;
  justify-content: space-between; /* Aligns items on opposite ends */
  align-items: center;
  flex-direction: row;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Align items horizontally */
}

.nav-item {
  display: flex;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #2196F3;
  color: black;
}

.nav-item a.active {
  background-color: #2196F3;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
